web/xml/AlienSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:complexType name="alien">
        <xs:sequence>
            <xs:element name ="name" type ="xs:string" />
            <xs:element name ="rank" type ="xs:integer" />
        </xs:sequence>
        <xs:attribute name="aid" type="xs:string"/>
        <xs:attribute name= "lang" type="xs:string"/>
    </xs:complexType>

   <xs:element name="aliens">
    <xs:complexType>
        <xs:sequence>
            <xs:element name ="alien" type="alien" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
   </xs:element>
</xs:schema>